@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfaor+Display&family=Poppins&family=Roboto&family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@300;400;600;700;800&family=Lato:wght@100;300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arimo:ital,wght@0,400..700;1,400..700&family=Atma:wght@300;400;500;600;700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dosis:wght@200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Michroma&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&family=Syncopate:wght@400;700&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Electrolize&family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Goldman:wght@400;700&family=Hind+Siliguri:wght@300;400;500;600;700&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Metrophobic&family=Noto+Sans+Bengali:wght@100..900&family=Noto+Serif+Bengali:wght@100..900&family=Nova+Square&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Passions+Conflict&family=Playwrite+IN:wght@100..400&family=Road+Rage&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rowdies:wght@300;400;700&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Slabo+27px&family=Telex&family=Unna:ital,wght@0,400;0,700;1,400;1,700&family=Wallpoet&family=WindSong:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Amatic+SC:wght@400;700&family=Antic+Slab&family=Assistant:wght@200..800&family=Audiowide&family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gruppo&family=Heebo:wght@100..900&family=Indie+Flower&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Khand:wght@300;400;500;600;700&family=Maven+Pro:wght@400..900&family=Mrs+Saint+Delafield&family=News+Cycle:wght@400;700&family=PT+Sans+Caption:wght@400;700&family=PT+Sans+Narrow:wght@400;700&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Sora:wght@100..800&family=Unbounded:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: 'Marcellus', 'Roboto Mono', 'Inter', 'Playfair Display',
		'Montserrat', 'Open Sans', 'Lato', 'Oswald', 'Raleway', Arial, Helvetica,
		sans-serif, 'Poppins', 'Roboto', 'Bebas Neue', 'Anton', 'Arimo', 'Atma',
		'Barlow Condensed', 'Barlow', 'Caveat', 'Comfortaa', 'Cormorant Garamond',
		'Dosis', 'EB Garamond', 'Exo 2', 'Lato', 'Libre Baskerville', 'Lora',
		'Merriweather', 'Michroma', 'Mulish', 'Noto Serif', 'Orbitron', 'Outfit',
		'PT Serif', 'Quicksand', 'Roboto Condensed', 'Roboto Mono', 'Rubik',
		'Source Code Pro', 'Space Grotesk', 'Syncopate', 'Tomorrow', 'Work Sans',
		'Agdasima', 'Bai Jamjuree', 'Chakra Petch', 'Electrolize',
		'Encode Sans Condensed', 'Figtree', 'Goldman', 'Hind Siliguri',
		'Host Grotesk', 'IBM Plex Serif', 'Istok Web', 'Libre Franklin',
		'Merriweather Sans', 'Metrophobic', 'Noto Sans Bengali',
		'Noto Serif Bengali', 'Nova Square', 'PT Sans', 'Passions Conflict',
		'Playwrite IN', 'Road Rage', 'Roboto Flex', 'Rowdies', 'STIX Two Text',
		'Schibsted Grotesk', 'Slabo 27px', 'Telex', 'Unna', 'Wallpoet', 'WindSong',
		'Abel', 'Alegreya', 'Amatic SC', 'Antic Slab', 'Assistant', 'Audiowide',
		'Cantarell', 'Cinzel', 'Crimson Text', 'Fira Sans', 'Gruppo', 'Heebo',
		'Indie Flower', 'JetBrains Mono', 'Josefin Slab', 'Karla', 'Khand',
		'Maven Pro', 'Mrs Saint Delafield', 'News Cycle', 'PT Sans Caption',
		'PT Sans Narrow', 'Public Sans', 'Raleway', 'Saira', 'Shadows Into Light',
		'Sora', 'Unbounded', 'Urbanist', 'Yanone Kaffeesatz', Arial, Helvetica,
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-optical-sizing: auto;
}

:root {
	--max-width: 1100px;
	--border-radius: 12px;
	--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
		'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	--primary-glow: conic-gradient(
		from 180deg at 50% 50%,
		#16abff33 0deg,
		#0885ff33 55deg,
		#54d6ff33 120deg,
		#0071ff33 160deg,
		transparent 360deg
	);
	--secondary-glow: radial-gradient(
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0)
	);

	--tile-start-rgb: 239, 245, 249;
	--tile-end-rgb: 228, 232, 233;
	--tile-border: conic-gradient(
		#00000080,
		#00000040,
		#00000030,
		#00000020,
		#00000010,
		#00000010,
		#00000080
	);

	--callout-rgb: 238, 240, 241;
	--callout-border-rgb: 172, 175, 176;
	--card-rgb: 180, 185, 188;
	--card-border-rgb: 131, 134, 135;

}



@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;

		--primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
		--secondary-glow: linear-gradient(
			to bottom right,
			rgba(1, 65, 255, 0),
			rgba(1, 65, 255, 0),
			rgba(1, 65, 255, 0.3)
		);

		--tile-start-rgb: 2, 13, 46;
		--tile-end-rgb: 2, 5, 19;
		--tile-border: conic-gradient(
			#ffffff80,
			#ffffff40,
			#ffffff30,
			#ffffff20,
			#ffffff10,
			#ffffff10,
			#ffffff80
		);

		--callout-rgb: 20, 20, 20;
		--callout-border-rgb: 108, 108, 108;
		--card-rgb: 100, 100, 100;
		--card-border-rgb: 200, 200, 200;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

input,
textarea,
select {
	font-size: 16px;
}

.custom-swiper {
  --swiper-navigation-size: 16px; /* Controls arrow icon size */
  --swiper-navigation-color: #000; /* Controls arrow color */
  --swiper-navigation-sides-offset: 20px; /* Controls distance from sides */
  --swiper-navigation-top-offset: 50%; /* Controls vertical position */
}

.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  display: none;
}

.custom-swiper:hover .swiper-button-next,
.custom-swiper:hover .swiper-button-prev {
  display: flex;
}